@font-face {
  font-family: "Poppin";
  src: url("../fonts/Poppins-Regular.ttf");
}

@font-face {
  font-family: "Volkhov";
  src: url("../fonts/Volkhov-Bold.ttf");
}

body {
	margin: 0;
	padding: 0;
}

a {
	text-decoration: none;
	font-family: "Poppin";
}

ul,ol {
	list-style: none;
	padding-left: 0;
}

input:focus {
	outline: none;
}

textarea:focus {
	outline: none;
}

select:focus {
	outline: none;
}

/*input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0; 
}*/

p {
	font-family: "Poppin";
}

h2,h3,h4,h5,h6,h1 {
	font-family: "Volkhov";
}

